<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body>

  <header th:insert="fragments/menu :: menu-principal"></header>

  <main role="main">
    <hr>
    <div class="container">

      <div class="card">
        <h4 class="card-header"><strong>Datos de la cita:</strong></h4>
        <div class="card-body">
          <a class="btn btn-warning" th:href="@{/citas/indexPaginate}" title="Regresar"
          role="button"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
          <hr>
          <form th:action="@{/citas/save}" th:object="${cita}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
              Por favor corrija los siguientes errores:
              <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
              </ul>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="nombre">Descripción:</label>
                  <input type="hidden" th:field="*{idcita}">
                  <input type="text" th:field="*{descita}" class="form-control" id="descita" name="descita"
                    placeholder="Descripción de la cita" required="required">
                    <div class="valid-feedback">
                      ¡Se ve bien!
                    </div>
                    <div class="invalid-feedback"> 
                      Por favor ingrese la Descripción
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="hospital">Hospital:</label>
                  <select class="form-control" name="hospital" th:field="*{hospital.idhospital}" id="hospital">
                    <option th:each="hospital : ${hospitales}" th:value="${hospital.idhospital}"
                    th:text="${hospital.nombre}">
                  </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="fecha">Fecha de Publicación:</label>
                  <input type="text" class="form-control" name="fecha" th:field="*{fecharegistro}" id="fecha"
                    placeholder="Fecha de publicacion" required="required">
                    <div class="valid-feedback">
                      ¡Se ve bien!
                    </div>
                    <div class="invalid-feedback">
                      Por favor ingrese la fecha
                    </div>
                </div>
              </div>
              <div sec:authorize="isAuthenticated() and hasAnyAuthority('ADMINISTRADOR')" class="col-md-4">
                <label for="fecha">Estado: </label>
                <div class="form-check">
      
                  <input class="form-check-input" type="radio" name="estado" th:field="*{estado}" id="estado" value="1">
                  <label class="form-check-label" for="destacado1">Abierto</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="estado" th:field="*{estado}" id="estado" value="2">
                  <label class="form-check-label" for="estado2">Cerrado</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="estado" th:field="*{estado}" id="estado" value="3">
                  <label class="form-check-label" for="estado3">En proceso</label>
                </div>
              </div>
            </div>

            
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="especialidad">Especialidad</label>
                  <select class="form-control" name="especialidad" id="especialidad">
                    <option th:text="*{especialidad} ?: 'Seleccione especialidad'"selected hidden></option> 
                    <option value="Emergencia">Emergencia</option> 
                    <option value="Medicina General">Medicina General</option>
                    <option value="Odontologia">Odontologia</option>
                    <option value="Oftalmologia">Oftalmologia</option>
                    <option value="Pediatria">Pediatria</option> 
                    <option value="Cirugia">Cirugia</option>
                    <option  value="Cardiologia">Cardiologia</option>
                    <option value="Neumologia">Neumologia</option>
                  </select>
                 
                </div>
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="nombre">Usuario</label>
                    <input type="hidden" th:field="*{usuario.idusuario}">
                    <input type="text" disabled th:field="*{usuario.username}" class="form-control" id="usuario" name="usuario"
                      required="required" >
                  </div>
                </div>
            </div>

            <hr>
           
            <button type="submit" class="btn btn-primary btn-block"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
          </form>
        </div>
      </div>
    </div> <!-- /container -->

  </main>

  <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script th:src="@{/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/bootstrap/js/validaciones.js}"></script>
  <script>
    $(function () {
      $("#fecha").datepicker({ dateFormat: 'dd-mm-yy' });
    }
    );

    tinymce.init({
      selector: '#detalles',
      plugins: "textcolor, table lists code",
      toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
    });

  </script>
</body>

</html>