<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Categorías</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del Gerente</strong></h4>              
          <div class="card-body">
            <form th:action="@{/gerentes/save}" th:object="${gerente}" method="post">             
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" th:field="*{idgerente}">
                    <input type="text" class="form-control" th:field="*{descgerente}" placeholder="Escriba el nombre completo del Gerente" required="required">
                  </div>
                </div>                
              </div>   
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fecha">Fecha de Publicación</label>
                  <input type="text" class="form-control" name="fecha" th:field="*{fecharegistro}" id="fecha"
                    placeholder="Fecha de publicacion" required="required">
                    <script>
                      $(function () {
                        $("#fecha").datepicker({ dateFormat: 'dd-mm-yy' });
                      }
                      );
                    </script> 
                </div>
              </div>
              <hr>
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
 
  </body>
</html>
