	 
	 <div th:fragment="menu-principal"> 
		  <!-- Modal salir -->
		  <div class="modal fade bd-example-modal-sm" id="modalSalir" tabindex="-1" role="dialog"
		  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Salir</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				Estas seguro de Cerrar Sesion?
			  </div>
			  <div class="modal-footer">
				<a type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancelar</a>
				<a th:href="@{/logout}" id="delref" class="btn btn-danger btn-sm" role="button" title="Eliminar">Aceptar
				</a>
			  </div>
			</div>
		  </div>
		</div>
	 <!-- Modal salir -->
	 <div class="card fixed-top"> 
	<div class="navbar navbar-expand-md navbar-white" style="background-color: #e3f2fd;">
		<a class="navbar-brand" th:href="@{/}">Hospitales App</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>

		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
					<a class="nav-link" th:href="@{/hospitales/indexPaginate}"><i class="fa-regular fa-hospital"></i>
						Hospitales</a>
				</li>
				<li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
					<a class="nav-link" th:href="@{/citas/indexPaginate}"><i class="fa-solid fa-calendar-check"></i>
						Solicitudes</a>
				</li>
				<li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO')">
					<a class="nav-link" th:href="@{/citas/indexPaginate}"><i class="fa-solid fa-calendar-check"></i>
						Citas</a>
				</li>
				<li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
					<a class="nav-link" th:href="@{/usuarios/index}"><i class="fa-solid fa-users"></i> Usuarios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/about}"><i class="fa-solid fa-circle-info"></i> Acerca</a>
				</li>
			</ul>
			<div sec:authorize="isAnonymous()">
				<a class="btn btn-primary" th:href="@{/index}"><i class="fa-solid fa-key"></i> Ingresar </a>&nbsp;
				<a class="btn btn-primary" th:href="@{/signup}"><i class="fa-solid fa-user-plus"></i> Registrarse </a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<span class="text-primary">Bienvenido:</span>&nbsp;<span class="text-primary"
					sec:authentication="name"></span>&nbsp;
				<a class="btn btn-primary" id="navbar_salir" href=""data-toggle="modal" data-target="#modalSalir"><i
						class="fa-solid fa-arrow-right-from-bracket"></i>Salir</a>
			</div>
		</div>
	 
	</div>
</div>
</div>

   