<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>HospitalApp | Acerca de Empleos App</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header">Acerca de <strong>la app</strong> </h4>              
          <div class="card-body">
           
				<p>Aplicacion de hospitales desarrollada con SpringBoot</p1>
          <br>
          <hr>
          <strong>ROLES:</strong>
      <br><br>
          <p>ADMINISTRADOR (Crea edita y elimina Hospitales,Usuarios y Citas):</p1>
          <p  class="text-secondary" >Usuario:  <strong class="text-primary"> admin</strong>
          <p  class="text-secondary" >Contraseña :<strong class="text-danger"> admin</strong>
            <hr>
            <p>USUARIO:(Crea Citas, Lista Hopitales )</p1>
              <p  class="text-secondary" >Usuario:  <strong class="text-primary"> user</strong>
              <p  class="text-secondary" >Contraseña :<strong class="text-danger"> user</strong>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
