<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>HOSPITAL | Aplicación de manejo de datos en un Hospital.</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    </head>


    <main role="main">

        <div class="card fixed-top">
            <nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-white"
                style="background-color: #e3f2fd;">
                <a class="navbar-brand" th:href="@{/}">Hospitales App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                            <a class="nav-link" th:href="@{/hospitales/indexPaginate}"><i
                                    class="fa-regular fa-hospital"></i> Hospitales</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                            <a class="nav-link" th:href="@{/citas/indexPaginate}"><i
                                    class="fa-solid fa-calendar-check"></i> Solicitudes</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO')">
                            <a class="nav-link" th:href="@{/citas/indexPaginate}"><i
                                    class="fa-solid fa-calendar-check"></i> Citas</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                            <a class="nav-link" th:href="@{/usuarios/index}"><i class="fa-solid fa-users"></i>
                                Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}"><i class="fa-solid fa-circle-info"></i> Acerca</a>
                        </li>
                    </ul>
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-primary" th:href="@{/index}"><i class="fa-solid fa-key"></i> Ingresar
                        </a>&nbsp;
                        <a class="btn btn-primary" th:href="@{/signup}"><i class="fa-solid fa-user-plus"></i>
                            Registrarse </a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <span class="text-primary">Bienvenido:</span>&nbsp;<span class="text-primary"
                            sec:authentication="name"></span>&nbsp;
                        <a class="btn btn-primary" id="navbar_salir" href="" data-toggle="modal"
                            data-target="#modalSalir"><i class="fa-solid fa-arrow-right-from-bracket"></i>Salir</a>
                    </div>
                </div>
            </nav>

            <div class="card text-center" style="background-color: #e3f2fd;">
                <h3>Busqueda de Hospitales.</h3>
                Puedes buscar por sedes y nombre.
                <br>
                <div class="d-flex justify-content-center">
                    <form th:action="@{/search}" th:object="${search}" method="get" class="form-inline col-md-8">

                        <!-- <input id="check"type="checkbox" name="others" onchange="document.getElementById('custom').disabled = !this.checked" class="medium" checked="true" /> -->
                        <input id="custom" type="text" th:field="*{nombre}" class="form-control mb-3 col-md-7"
                            placeholder="Escriba una búsqueda">&nbsp;
                        <!-- <input id="check"type="checkbox" name="others" onchange="document.getElementById('charstype').disabled = !this.checked" class="medium" checked="true"/> -->
                        <select th:field="*{sede.idsede}" class="custom-select custom-select mb-3" id="charstype">
                            <option th:value="${null}" selected>Seleccione una sede</option>
                            <option th:each="sede : ${sedes}" th:value="${sede.idsede}" th:text="${sede.descsede}">
                            </option>
                        </select>&nbsp;

                        <button type="submit" class="btn btn-primary mb-3 col-md-2"><i
                                class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="card" style="padding-top: 120px;">
            <div class="row" th:each="hospital : ${hospitales}">
                <div class="blog-card">
                    <div class="meta">
                        <div class="photo">
                            <a th:href="@{/hospitales/view/{id} (id=${hospital.idhospital}) }">
                                <img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${hospital.imagen}) }"
                                    alt="Generic placeholder image" width="220" height="220">
                            </a>
                        </div>

                    </div>
                    <div class="description">
                        <h1 th:text="${hospital.nombre}">Nombre</h1>
                        <br>
                        <h2 th:text="${hospital.sede.descsede}">Sede</h2>
                        <br>
                        <p th:text="${hospital.distrito.descdistrito}"> </p>
                        <p class="read-more">
                            <a th:href="@{/hospitales/view/{id} (id=${hospital.idhospital}) }">Más</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal salir -->
        <div class="modal fade bd-example-modal-sm" id="modalSalir" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Salir</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Estas seguro de Cerrar Sesion?
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancelar</a>
                        <a th:href="@{/logout}" id="delref" class="btn btn-danger btn-sm" role="button"
                            title="Eliminar">Aceptar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal salir -->
        </div>
    </main>
    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>