<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>HOSPITAL | Aplicación de manejo de datos en un Hospital.</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">

    </head>

    <header th:insert="fragments/menu :: menu-principal"></header>
    <main role="main">
        <div class="card">
            <div class="card text-center">
                <h3>Busqueda de Hospitales.</h3>
                Puedes buscar por sedes y nombre.
                <form th:action="@{/search}" th:object="${search}" method="get" class="form-inline col-md-12">
                    <input type="text" th:field="*{nombre}" class="form-control mb-3 col-md-6"
                        placeholder="Escriba una búsqueda">&nbsp;
                    <select th:field="*{sede.idsede}" class="custom-select custom-select mb-3 col-md-4">
                        <option th:value="${null}" selected>Seleccione una sede</option>
                        <option th:each="sede : ${sedes}" th:value="${sede.idsede}" th:text="${sede.descsede}">
                        </option>
                    </select>&nbsp;
                    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row" th:each="hospital : ${hospitales}">
            <div class="blog-card">
                <div class="meta">
                    <div class="photo">
                        <a th:href="@{/hospitales/view/{id} (id=${hospital.idhospital}) }" >
                        <img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${hospital.imagen}) }"
                        alt="Generic placeholder image" width="220" height="220">
                    </a>
                    </div>

                </div>
                <div class="description">
                    <h1 th:text="${hospital.nombre}">Nombre</h1>
                    <br>
                    <h2 th:text="${hospital.sede.descsede}">Sede</h2>
                    <br>
                    <p th:text="${hospital.distrito.descdistrito}"> </p>
                    <p class="read-more">
                        <a th:href="@{/hospitales/view/{id} (id=${hospital.idhospital}) }" >Más</a>
                    </p>
                </div>
            </div>

        </div>
    </main>
    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>