<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>HOSPITAL | Aplicación de manejo de datos en un Hospital.</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

  <header th:insert="fragments/menu :: menu-principal"></header>

  <main role="main">
    <div class="card">
      <div class="card text-center">
          <h3>Busqueda de Hospitales.</h3>
          Puedes buscar por sedes y nombre.
          <form th:action="@{/search}" th:object="${search}" method="get" class="form-inline col-md-12">
            <input type="text" th:field="*{nombre}" class="form-control mb-3 col-md-6" placeholder="Escriba una búsqueda">&nbsp;
            <select th:field="*{sede.idsede}" class="custom-select custom-select mb-3 col-md-4">
              <option th:value="${null}" selected>Seleccione una sede</option>
              <option th:each="sede : ${sedes}" th:value="${sede.idsede}" th:text="${sede.descsede}">
              </option>
            </select>&nbsp;
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </form>
        </div>
      </div>

       
            <div class="card">
              <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
              <br>
              <div class="container content">
                <div class="row" th:each="hospital : ${hospitales}">
                  <div class="col-md-5">            
                    <img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${hospital.imagen}) }" alt="Generic placeholder image" width="330" height="330">            
                  </div>
                  <div class="col-md-9">
                    <h2 th:text="${hospital.nombre}">Nombre</h2>
                    <!-- <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${hospital.distrito.descdistrito}"></span></h6> -->
                    <h6 class="card-title"><strong>Publicado: </strong> <span
                        th:text="${#dates.format(hospital.fecharegistro, 'dd-MM-yyyy')}"></span></h6>
                    <p th:text="${hospital.area}"></p>

                    <p><a class="btn btn-secondary" th:href="@{/hospitales/view/{id} (id=${hospital.idhospital}) }"
                        role="button">Ver detalles &raquo;</a></p>
              </div>
            </div>
       
  </main>

  <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>