<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>HospitalApp | Listado de Ofertas de Trabajo</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
        <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

  <header th:insert="fragments/menu :: menu-principal"></header>

  <main role="main">
    <hr>
    <div class="container">
      <div class="card">
        <h4 class="card-header"><strong>Listado de Hospitales en Lima</strong></h4>
        <div class="card-body">
          <a class="btn btn-primary" th:href="@{/hospitales/create}" title="Crear nueva Oferta de Trabajo"
            role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>
          <hr>
          <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Antiguedad</th>
                <th scope="col">Distrito</th>
                <th scope="col">  Sede    </th>
                <th scope="col">Gerente</th>
                <th scope="col">Condicion</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="hospital : ${hospitales}">
                <td th:text="${hospital.idhospital}"></td>
                <td th:text="${hospital.nombre}"></td>
                <td th:text="${hospital.antiguedad}"></td>
                <td th:text="${hospital.distrito.descdistrito}"></td>
                <td th:text="${hospital.sede.descsede}"></td>
                <td th:text="${hospital.gerente.descgerente}"></td>
                <td th:switch="${hospital.condicion.idcondicion}">
                  <span th:case="1" class="badge badge-success">En funcionamiento</span>
                  <span th:case="2" class="badge badge-danger">Cerrado</span>
                  <span th:case="3" class="badge badge-warning">En Limpieza</span>
                </td>
                <td th:text="${#dates.format(hospital.fecharegistro, 'dd-MM-yyyy')}"></td>
  

                <td>
                  <a th:href="@{/hospitales/edit/{id} (id=${hospital.idhospital}) }" class="btn btn-success btn-sm" role="button"
                    title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                  <a th:href="@{/hospitales/delete/{id} (id=${hospital.idhospital}) }" onclick="return confirm('¿Estas seguro?')"
                    class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash"
                      aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav th:if="${hospitales.totalPages > 2}" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a th:href="@{/hospitales/indexPaginate(page=${hospitales.number - 1})}"
                  class="page-link">Anterior</a></li>
              <li class="page-item"><a th:href="@{/hospitales/indexPaginate(page=${hospitales.number + 1})}"
                  class="page-link">Siguiente</a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div> 

  </main>

  <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>