<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>HospitalApp | Listado de Ofertas de Trabajo</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/home.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

  <header th:insert="fragments/menu :: menu-principal"></header>
  
  <main role="main">
    <hr>
    <div class="container">
      <div class="card">
        <h4 class="card-header mb-0 form-inline">
        <strong>Listado de Hospitales</strong>&nbsp;
          <form th:action="@{/hospitales/buscar}" th:object="${buscar}" method="get" class="form-inline mb-0 col-md-9">
            <input id="custom" type="text" th:field="*{nombre}" class="form-control mb-0 col-md-4"
                placeholder="Busque hospital">&nbsp;
            <select th:field="*{sede.idsede}" class="custom-select custom-select mb-0" id="charstype">
                <option th:value="${null}" selected>Seleccione una sede</option>
                <option th:each="sede : ${sedes}" th:value="${sede.idsede}" th:text="${sede.descsede}">
                </option>
            </select>&nbsp;
            <button type="submit" class="btn btn-primary mb-0"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
            
        </form>
        </h4>
        
        <div class="card-body">
          <a class="btn btn-primary btn-block" th:href="@{/hospitales/create}" title="Crear nuevo hospital"
            role="button"><i class="fa-solid fa-plus"></i> Nuevo Hospital</a>

       
          <hr>
        <small th:text="${cantidad}" class="text-primary"></small><small class="text-primary"> Hospitales en Total</small>

          <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
         
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Antiguedad</th>
                <th scope="col">Distrito</th>
                <th scope="col"> Sede </th>
                <th scope="col">Gerente</th>
                <th scope="col">Condicion</th>
                <th scope="col">Fecha</th>
                <th scope="col">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="hospital : ${hospitales}">
                <td th:text="${hospital.idhospital}"></td>
                <td th:text="${hospital.nombre}"></td>
                <td th:text="${hospital.antiguedad}"></td>
                <td th:text="${hospital.distrito.descdistrito}"></td>
                <td th:text="${hospital.sede.descsede}"></td>
                <td th:text="${hospital.gerente.descgerente}"></td>
                <td th:switch="${hospital.condicion.idcondicion}">
                  <span th:case="1" class="badge badge-success">En funcionamiento</span>
                  <span th:case="2" class="badge badge-danger">Cerrado</span>
                  <span th:case="3" class="badge badge-warning">En Limpieza</span>
                </td>
                <td th:text="${#dates.format(hospital.fecharegistro, 'dd-MM-yyyy')}"></td>


                <td>
                  <a th:href="@{/hospitales/edit/{id} (id=${hospital.idhospital}) }" class="btn btn-success btn-sm"
                    role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>

                  <a th:href="@{/hospitales/delete/{id} (id=${hospital.idhospital}) }"
                  id="deleteh"class="btn btn-danger btn-sm" role="button"
                    title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
              <!-- Modal eliminar -->
         <div class="modal fade bd-example-modal-sm" id="modalEliminarH" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Eliminar</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               Estas seguro de eliminar el Hospital?
             </div>
             <div class="modal-footer">
               <a type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancelar</a>
               <a href="" id="delref" class="btn btn-danger btn-sm" role="button" title="Eliminar">Eliminar
               </a>
             </div>
           </div>
         </div>
       </div> 
       <!-- Modal eliminar -->

          <nav th:if="${hospitales.totalPages > 1}" aria-label="Page navigation example">
            <ul class="pagination">
              <li th:if="${hospitales.number!=0 }" class="page-item"><a th:href="@{/hospitales/indexPaginate(page=${hospitales.number - 1})}"
                  class="page-link"><i class="fa-solid fa-angles-left"></i> Anterior</a></li>
             
              <li th:if="${hospitales.number<hospitales.totalPages-1 }"class="page-item"><a th:href="@{/hospitales/indexPaginate(page=${hospitales.number + 1})}"
                  class="page-link">Siguiente <i class="fa-solid fa-angles-right"></i></a></li>
            </ul>
         
          </nav>

        </div>
      </div>
    </div>

  </main>

  <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/bootstrap/js/modal.js}"></script>
</body>

</html>